<login-buttons></login-buttons>

<div class="top-bar">
  <div class="top-bar-left">
    <ul class="dropdown menu" data-dropdown-menu>
      <li class="menu-text">Site Title</li>
      <li><a href="#">Link</a></li>
    </ul>
  </div>
  <div class="top-bar-right">
    <ul class="menu">
      <li><input type="text" #searchtext placeholder="Search by title"></li>
      <li><button type="button" (click)="search(searchtext.value)">Search</button></li>
    </ul>
  </div>
</div>

<h2>{{title}}</h2>

<ul class="wish-list">
  <li class="wish-list-item" *ngFor="let wish of data | async">
    <a [routerLink]="['/wish', wish._id]">{{wish.name}}</a>
    {{wish.description}}
    <button class="warning hollow button" (click)="deleteWish(wish)">Delete</button>
  </li>
</ul>
<form-element></form-element>





